body {
    margin: 0;
    background: black;
    color: white;
    text-align: center;
    font-family: 'Inter', sans-serif;
    line-height: 30px;
    padding: 60px
}

#wrapper {
    background: #1F2937;
    max-width: 550px;
    margin: 0 auto;
    padding-bottom: 20px;
}

#header {
    background: #6943FF;
    background: linear-gradient(to right, #6943FF, #702963);
    max-width: 550px;
    margin: 0px auto 30px auto;
    padding: 20px 0px;
    font-size: 18px;
}

#num-el {
    max-width: 115px;
    height: 80px;
    background: inherit;
    border: 1px solid white;
    color: white;
    font-size: 55px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    margin-top: 10px;
}

.btn {
    background: #FFFFFF;
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
    color: #3D3D3D

}

#convert-el {
    display: block;
    margin: 20px auto 10px auto;
}

.units {
    background: #273549;
    max-width: 500px;
    margin: 15px auto;
    padding: 5px;
    height: 100px;
    font-size: 16px;
    color: #CCC1FF;
}

p {
    margin-top: -10px;
}



